*
{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

     padding-top: 56px;
}
.navbar
{
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    background: #222831;
}
.navbar-brand
{
        font-weight: bold;
        font-size: 1.5rem;
        color: rgb(255, 255, 255)  !important;
}
.navbar-nav .nav-link
{
    color: rgba(223, 223, 223, 0.87) !important;
    cursor: pointer;
    margin: 0 13px;
    transition: all  0.3s;
}
.navbar-nav .nav-link:hover
{
    transform: translateY(-2px);
    color: white !important;
    font-weight: 600;
}
.hero-header
{
    background: #222831;
    color: white;
    border-radius: 10px 10px 0 0;
    padding: 30px;
    margin: 20px 0 10px 0;    
}
.hero-image
{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.sidebar
{
    background:rgba(255, 255, 255, 0.87) ;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}
.sidebar h4
{
    padding-bottom: 15px;
    margin:10px 0 10px 0;
    border-bottom: 2px solid #222831;
}
.sidebar-menu
{
    list-style-type: none;
    padding: 0;
}
.sidebar-menu li
{
    margin: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.sidebar-menu li:hover
{
    transform: translateX(5px);
}
.sidebar-banner img
{
    width: 100%;
    border-radius: 5px;
}
.sidebar ul li
{
    margin: 10px;
}
/*
    Designs to be done after fetching the example datas using jquery ajax
*/
.stats-card
{
    text-align: center;
   padding: 15px;
}
.stats-card p 
{
    color: #6a6c6e;
}
footer
{
    background: #222831;
    color: white;
    margin-top: 50px;
    padding: 40px;
}
footer a
{
    text-decoration: none;
    color: white;
    transition: 1s;
}
footer a:hover
{
    text-decoration: underline;
}
.social-links a
{   font-size: 25px;
    margin: 10px;
}
footer h5
{
    margin-bottom: 20px;
}
footer .copyright
{
    padding-top: 20px;
}